@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./sections/assets/background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed ;
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(74px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: auto;
    width: 100vw;
}

.inner-glass-effect {
    background: linear-gradient(135deg, rgba(207, 33, 193, 0.1), rgba(241, 136, 16, 0.1));
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.content-section{
    max-width: 1550px;
    margin: 0 auto;
}

.icon-container {
    color: rgb(224, 123, 110)
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

.swiper-slide img {
    display: block;
    width: 100%;
}

input:focus,
textarea:focus,
button:focus,
select:focus {
    outline: none;
}

.typewriter {
    display: inline-block;
    width: fit-content;
}

.typewriter p {
    width: 100%;
    white-space: nowrap;
    overflow: hidden; 
    border-right: .15em solid orange; 
    animation: 
      typing 2s steps(24),
      blink-caret .4s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }

  @media only screen and (max-width: 768px) {
    body {
        background-image: url("./sections/assets/mobile-bg.png");
    }
}

@layer utilities {
    .pt-40rem {
      padding-top: 40rem;
    }
  }
  