@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url("./sections/assets/background.png");
    background-repeat: repeat;
    background-size: contain;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.glass-effect {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(74px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: auto;
    width: 100vw;
}

.inner-glass-effect {
    background: linear-gradient(135deg, rgba(207, 33, 193, 0.1), rgba(241, 136, 16, 0.1));
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.icon-container {
    color: rgb(224, 123, 110)
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}



